__pycache__/
*.py[cod]
*.egg-info/
dist/
.morph/
.morph/css-cache/
.vscode
.morph/packages/
build/
build_dev/
.pytest_cache/
*.so
*.dylib

my-app
test.py
morph/bin/morph_devrt
morph/bin/morph_devrt*
morph/bin/.devrt_source_hash